
body {
  font-family: 'Oxygen', sans-serif;
}


div#lots-of-content {
	width: 95%;
	height: 2000px;
	padding-top: 5%;
	border: 3px solid blue;
	margin: 30px auto 30px;
	background-color: rgb(224, 224, 224);
}

.navbar-default {
	background-color: lightgreen;
}

.navbar-header {
	background-color: pink;
}

div#my-collapsable-nav {
}

div.my-tile {
    font-family: 'Lora', serif;
	  color: #557c3e;
	  font-size: 1.5em;
	  text-transform: uppercase;
	  font-weight: bold;
	  text-shadow: 1px 1px 1px #222;
	background-color: orange;
	height: 500px;
	/*width: auto;*/
	/*width: 85%;*/
	padding: 50px;
	margin: 5px 10px 5px;
	border: 2px solid black;
	text-align: center;
	/*float: left;*/
}

h2 {
	/*text-align: center;
	width: 95%;
	background-color: lightgrey;
	border: 2px solid cyan;
	margin: auto;
	padding: 20px 0px 20px;*/
}

li > span {
	text-align: center;
	/*border: 1px solid black;
	margin-top: 2px;*/
	font-size: 1.5em;
}